body {
    background: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#title, .subtitle {
    color: #505050;
}
#title {
    font-size: 40px;
    text-transform: uppercase;
}

.post_title {
    color:#505050;
    margin: 0;
    margin-bottom: 15px;
    font-size: 20px;
    font-style: italic;
}

.post_subtitle {
    color:#505050;
    margin: 0;
    margin-bottom: 15px;
    font-size: 15px;
}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid #505050;
    border-radius: 10px 100px 100px 10px;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
}

.post_image {
    margin-bottom: 15px;
}

.ul_employees {
    list-style-type: "\1F477";
}

.ul_contact_list {
    list-style-type: none;
    padding-left: 15px;
}

.ul_contact_list li a{
    text-decoration: none;
}

.ul_partnerships {
    list-style-type: "\1F91D";
}

.ul_partnerships li a {
    text-decoration: none;
}
